/* Ejemplo de declaración de fuentes locales (opcional) */
/* @font-face {
  font-family: 'Arimo';
  src: url('//fonts/Arimo.ttf') format('ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */
