/* === Arimo (variable) === */
@font-face {
  font-family: "Arimo";
  src: url("/public/fonts/Arimo.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* === Cousine === */
@font-face {
  font-family: "Cousine";
  src: url("/public/fonts/Cousine.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* === Tinos === */
@font-face {
  font-family: "Tinos";
  src: url("/public/fonts/Tinos.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
